/* src/styles/globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-select-none {
    user-select: none; /* Standard */
    -webkit-user-select: none; /* For Safari */
    -moz-user-select: none; /* For Firefox */
    -ms-user-select: none; /* For Internet Explorer/Edge */
  }
}